.header {
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: black;
  font-family: Brush Script MT;
}
body {
  background-color: #CDF1EB;
}
.buttons {
  text-align: center;
  font-family: Arial;
}
.Random {
  margin-top: 40px;
  color: black;
  font-size: 30px;
}
.Search {
  margin: 40px;
  background-color: #E4C8FF;
  width: 10%;
  background-image: url("http://www.clipartkid.com/images/775/search-icon-clip-art-at-clker-com-vector-clip-art-online-royalty-643l5L-clipart.png");
  background-size: 25px;
  background-position: 10px 5px;
  background-repeat: no-repeat;
}
input::-webkit-input-placeholder {
  color: black !important;
}
#results {
  background-color: #F2E7FD;
  font-size: 18px;
}
.borderborder {
  margin-right: 80px;
  margin-left: 80px;
}
.border {
  border: solid 10px #CDF1EB;
  padding: 10px;
  text-decoration: none;
}
.border:hover {
  border-left-color: #E4C8FF;
  border-right-color: #E4C8FF;
}
#Nohighlight {
  text-decoration: none;
  color: black;
}
