.header {
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: black;
  font-family: Sansita;
}

body {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5000;
  background: url("http://res.cloudinary.com/aymanxd/image/upload/v1487554817/books_ar2yda.jpg") fixed;
}
.buttons {
  text-align: center;
  font-family: Arial;
}
.Random {
  margin-top: 40px;
  color: black;
  font-size: 30px;
  padding:10px;
  border: solid 1px black;
  border-radius: 10px;
}
.Random:hover{
  border:solid 1px white;
}
#searchbox {
  display:flex;
  justify-content:center;
}
.Search {
  margin: 40px;
  background-color: white;
  width: 200px;
  background-image: url("http://www.clipartkid.com/images/775/search-icon-clip-art-at-clker-com-vector-clip-art-online-royalty-643l5L-clipart.png");
  background-size: 25px;
  background-position: 10px 5px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
#results {
  font-size: 18px;
}
.borderborder {
  margin-right: 80px;
  margin-left: 80px;
}
.border {
  background-color: rgba(0, 0, 0, 0.75);
  color:white;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}
.border:hover {
  font-weight: bold;
  font-size: 24px;
}
#Nohighlight {
  text-decoration: none;
  color: black;
}

h3{
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: Sansita;
  margin-top: 40px;
}
